<div class="row-center-center w100">
  <div class="text-line">
      <create-ticket-form tickets="tickets"><div class="box-tickets bg-white">
      <div class="gtr-hor gtr-ver">
        <div class="gtr-b-sm">
          <div class="gtr-b-sm text-lg border-b border-light row gtr-hor">Create a New Ticket</div>
        </div>
        <form name="newTicketForm">
          <div class="row gtr-b">
            <div class="col-xs-4">
              <div accept="image/*" class="bg-light box-ticket ticket-icon" name="file">
                <div class="tbl">
                  <div class="tbl-cell align-middle cursor-pointer text-center">
                    <span>
                      <div class="clearfix head-md"><span class="icon-image"></span></div>
                      <div class="clearfix">Upload a picture</div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="clearfix">
                <label class="form-label">
                  <div class="form-label-text">Ticket Name</div>
                  <input class="form-control" type="text">
                </label>
              </div>
              <div class="clearfix">
                <label class="form-label">
                  <div class="form-label-text">Address</div>
                  <input class="form-control" type="text">
                </label>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <label class="form-label">
                    <div class="form-label-text">Company Name</div>
                    <input class="form-control" type="text">
                  </label>
                </div>
                <div class="col-xs-6">
                  <label class="form-label">
                    <div class="form-label-text">Issuer</div>
                    <input class="form-control" type="text">
                  </label>
                </div>
              </div>
              <div class="clearfix">
                <label class="form-label">
                  <div class="form-label-text">Description</div>
                  <input class="form-control" type="text">
                </label>
              </div>
            </div>
          </div>
          <div class="row gtr-t border-t border-light">
            <div class="col-xs-4">
              <label class="form-label">
                <div class="form-label-text">Amount</div>
                <input class="form-control" type="number">
              </label>
            </div>
            <div class="col-xs-4">
              <label class="form-label">
                <div class="form-label-text">Fee</div>
                <input class="form-control" type="number">
              </label>
            </div>
            <div class="col-xs-4">
              <label class="form-label">
                <div class="form-label-text">Profit Margin, %</div>
                <input class="form-control" type="number">
              </label>
            </div>
          </div>
          <div class="clearfix">
            <label class="form-label">
              <div class="form-label-text">Wallet ID</div>
              <select class="form-control">
                <option></option>
                <option value="1">muCVj8gaLDLSzw4kH6nb4qW3eNrZSaUUUw</option>
              </select>
            </label>
          </div>
          <div class="clearfix">
            <div class="row gtr-t-sm">
              <div class="col-xs-4 pull-right">
                <button class="btn btn-success btn-primary" type="button">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div></create-ticket-form>
  </div>
</div>