<div class="row-center-center w100">
  <div class="column-start-center w100">
    <item class="row-start-center">
      <icon>
        <img src="/images/cinema.png"/>
      </icon>
      <div class="item-name row-start-center">
        Cinema
      </div>
      <div class="row-start-center btn btn-warning" href="list?category=cinema">
        GO
      </div>
    </item>
    <item class="row-start-center">
      <icon>
        <img src="/images/cinema.png"/>
      </icon>
      <div class="item-name row-start-center">
        Cinema
      </div>
      <div class="row-start-center btn btn-warning" href="list?category=cinema">
        GO
      </div>
    </item>
    <item class="row-start-center">
      <icon>
        <img src="/images/cinema.png"/>
      </icon>
      <div class="item-name row-start-center">
        Cinema
      </div>
      <div class="row-start-center btn btn-warning" href="list?category=cinema">
        GO
      </div>
    </item>
  </div>
</div>