@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

html
{
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #F9FAF8;
}
body
{
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px;
}
body *
{
  font-family: 'Open Sans', sans-serif;
}
.my-row
{
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}
.my-column
{
  display: table-cell;
  height: 100%;
  width: 100%;
  position: relative;
  vertical-align: bottom;
  background-color: #EBEFF3;
}
.my-content
{
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}
.my-container
{
  width: 100%;
  height: 100%;
  position: relative;
}
.my-header
{
  min-height: 60px;
  max-height: 60px;
}
.my-center
{
  background-color: #F9FAF8;
}
.my-footer
{
  min-height: 25px;
  max-height: 25px;
  background-color: black;
  padding: 0px 80px 0px 80px;
}
.size
{
  min-width: 950px;
  max-width: 1256px;
}
.logo
{
  font-size: 16px;
  color: white !important;
  width: 15%;
  min-width: 177px;
}
.logo *:hover
{
  max-height: 75px;
  text-decoration: none !important;
}
.table-content
{
  max-width: 1156px;
  min-width: 850px;
  padding: 40px 40px 40px 40px;
  border: 1px solid #DCE1E4;
  border-radius: 10px;
  margin-top: 40px;
  background-color: white;
}
.control-button
{
  width: 100px;
}
.navbar
{
  margin-bottom: 0;
  min-height: 0;
}
.item-name
{
  width: 100px;
  font-size: 30px;
}
icon img
{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.text-line
{
  min-width: 700px;
}





